<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Collegetime</title>
	<link rel="icon" href="/default/images/favicon.png" type="image/png">

<!-- for css in the html -->
<%- include ('../partials/default/header-css')%>

</head>

<body class="">

<!-- Navigation -->

<%- include ('../partials/default/top-navigation')%>


<!--================Hero Banner Area Start =================-->
<section class="hero-banner2">
  <div class="container">

    <div class="row">
      <div class="content-centre col-md-6 col-lg-5 mb-5 mb-md-0">
        <h1>ABOUT US</h1>
        <p style="color: black;font-weight:normal;">We are a group of young diverse individuals who believe that academics isn’t the crux of college life. With the help of our upfront blogs, we hope to help you understand how you can develop yourself in college with different opportunities that are sometimes hidden in plain sight.</p><p style="color: black;font-weight:normal;"> We aim to educate you on the various fields that you can pursue throughout your life. Perhaps, you can find yourself through our website.</p>

        <div class="row buttons">
          <div class="button1">
            <a href="/contact">
            <p class="content-button1">Contact</p>
          </a>
          </div>
          <div class="button2">
            <a href="/blogs">
            <p class="content-button2 button2">Blogs</p>
          </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-7 col-xl-6 offset-xl-1 about-img2">
        <img class="img-fluid img-top" src="/default/images/new-06.png" height=1000px alt="">
      </div>
    </div>
  </div>
</section>
<section class="section-padding bg-gray">
  <div >
    <div class="section-intro text-center pb-90px">
      <h1 class="home-blogs"style="margin-bottom:-60px;margin-top:-100px;">OUR TEAM</h1>
    </div>
    <div class="row text-center">
              <div class="team1 col-md-4">
                <img src="/default/images/ratnesh.png" height=230px style="margin-top:20px;">
                <h3 style="margin-top:20px;">Ratnesh Kumar</h3>
                <p style="font-size:20px;color:black;">Joint Operation Head</p>
                    </div>
              <div class="team1 col-md-4">
                <img src="/default/images/atul.png" height=230px style="margin-top:20px;">
                <h3 style="margin-top:20px;">Atul Krishna</h3>
                <p style="font-size:20px;color:black;">Joint Operation Head</p>
                    </div>
              <div class="team1 col-md-4">
                  <img src="/default/images/suzana.png" height=230px style="margin-top:20px;">
                  <h3 style="margin-top:20px;">Suzana John</h3>
                  <p style="font-size:20px;color:black;">Editor In Chief</p>
                  </div>
              <div class="team1 col-md-4">
                  <img src="/default/images/Matte black Bugatti Divo.jpg" height=230px style="margin-top:20px;" >
                  <h3 style="margin-top:20px;">Ved Kotpalliwar</h3>
                  <p style="font-size:20px;color:black;">Head Of Web Development</p>
                    </div>
              <div class="team1 col-md-4">
                  <img src="/default/images/ritika.png" height=230px style="margin-top:20px;">
                  <h3 style="margin-top:20px;">Ritika Meena</h3>
                  <p style="font-size:20px;color:black;">Chief Innovation Officer</p>
                  </div>
              <div class="team1 col-md-4">
                  <img src="/default/images/bhojne.png" height=230px style="margin-top:20px;">
                  <h3 style="margin-top:20px;">Rushikesh Bhojne</h3>
                  <p style="font-size:20px;color:black;">Head Of Marketing</p>
                  </div>
              <div class="team1 col-md-6">
                  <img src="/default/images/kanishka.png" height=230px style="margin-top:20px;">
                  <h3 style="margin-top:20px;">Kanishka Meena</h3>
                  <p style="font-size:20px;color:black;">Graphic Designer</p>
                </div>
              <div class="team1 col-md-6">
                  <img src="/default/images/prachi.png" height=230px style="margin-top:20px;">
                  <h3 style="margin-top:20px;">Prachi Nandi</h3>
                  <p style="font-size:20px;color:black;">Graphic Designer</p>
                  </div>
              </div>
    </section>
<!--================Hero Banner Area End =================-->

    <script src="/default/vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="/default/vendors/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/default/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="/default/vendors/nice-select/jquery.nice-select.min.js"></script>
    <script src="/default/js/jquery.ajaxchimp.min.js"></script>
    <script src="/default/js/mail-script.js"></script>
    <script src="/default/js/main.js"></script>

<!--================Search Package section End =================-->

<%- include ('../partials/default/footer')%>
</body>

</html>
